<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<%= people.join(", "); %>
<%= people.FirstName%>&nbsp;<%= people.LastName%>
<script id="people"  type="text/sql">
    SELECT
        FirstName,
        LastName
    FROM
        People
</script>
</body>
</html>
